.container {
  width: 100%;
  max-width: 1170px;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

.movepas {
  &__head {
    width: 100%;
    height: 223px;
    display: block;
    background-color: $color-movepas;
    padding: 30px 0;
  }

  &__content {
    width: 100%;
    height: auto;
    position: relative;

    &-title {
      width: 380px;
      height: 150px;
      display: block;
      background: $color-gray-light;
      border-top-left-radius: 30px;
      position: absolute;
      top: -100px;
      right: 0px;
      padding: 20px 50px 0 0;

      h2 {
        font-size: 50px;
        font-weight: 500;
        text-align: right;
      }
    }

    &-text {
      padding: 50px;
      background: $color-gray-light;
      font-size: 24px;
      line-height: 30px;
    }

    &-number {
      width: 520px;
      height: 160px;
      display: block;
      float: right;
      margin: -40px 25px 0 0;
      background: $color-green;
      border-radius: 30px;
      border-top-left-radius: 0;
      padding: 30px 40px;

      p {
        font-size: 22px;
        color: $color-white;

        strong {
          display: inline-block;
          margin-top: 10px;
          font-size: 35px;
          position: relative;
          padding-left: 130px;

          span {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 85px;
            font-weight: 700;
            position: absolute;
            left: 0;
            top: -7px;
          }
        }
      }
    }

    &-obs {
      width: calc(100% - 550px);
      height: auto;
      display: block;
      float: left;
      padding: 10px 30px 0 50px;
      color: $color-gray;

      p {
        font-size: 28px;
        margin-bottom: 15px;
        text-align: right;

        &.small {
          font-size: 10px;
          text-align: left;
        }
      }
    }
  }
}