/***************************** COLORS */
$color-movepas: #81003C;
$color-joannas: #800063;

$color-white: #ffffff;
$color-black: #1F1F1F;

$color-gray-extra-light: #F6F6F6;
$color-gray-light: #EDEDED;
$color-gray: #A2A2A3;
$color-gray-dark: #505050;
$color-gray-extra-dark: #4F4F4F;

$color-green-light: #39C4BA;
$color-green: #00B6B9;

$color-yellow: #E8BA00;

$color-pink: #E00062;
$color-pink-dark: #980042;

$color-red: #E40000;
